<section class="about" id="sevices">
    <div class="wrapper">
        <p class="about__text">
            Агрегатор Join24 – это высокотехнологичная площадка с личным кабинетом, CRM, интуитивно понятным интерфейсом. Если нужно сдать или взять спецтехнику в аренду, не нужно открывать десятки сайтов и вручную сравнивать цены. Достаточно заполнить анкету и получить доступ к панели управления, загрузить на мобильный телефон приложение и получайте заказы или берите в аренду любой вид спецтехники!
        </p>
    </div>
</section>
