<section class="about-service">
    <div class="wrapper">
        <h2 class="about-service__title">Что предоставляет сервис</h2>
        <div class="about-service__items">
            <span class="about-service__item"><span class="about-service__number">01</span>Поиск физических, юридических лиц и ИП, которые готовы взять в аренду спецтехнику.</span>
           <span class="about-service__item"><span class="about-service__number">02</span>Оформление необходимой документации и обмен через ЭДО.</span>
            <span class="about-service__item"><span class="about-service__number">03</span>Контроль своевременного поступления оплаты за выполненные заказы.</span>
            <span class="about-service__item"><span class="about-service__number">04</span>Контроль над исполнением всех условий договора.</span>
            <span class="about-service__item"><span class="about-service__number">05</span>Помощь в любых нештатных ситуациях.</span>
        </div>
        <p class="about-service__subtitle">От вас нужно, чтобы вся спецтехника была оформлена надлежащим образом и технически исправна. В обязательном порядке оформить путевые листы и журналы учета, при необходимости – разрешения на проезд внутри МКАД, ТТК и СК.</p>
    </div>
</section>
