<section class="advantage">
    <div class="wrapper">
        <h2 class="advantage__title">почему аренда выгоднее,<br>чем приобретение в собственность</h2>
        <p class="advantage__description">Не всегда покупка строительной спецтехники и передача на баланс компании экономически целесообразно. Даже если по роду деятельности требуется наличие собственного автопарка, аренда гораздо выгоднее, чем приобретение в собственность. Давайте сравним вместе.</p>
        <div class="advantage__wrap">
            <div class="advantage__content">
                <div class="advantage__wrap-img">
                    <img src="./img/purchase.png" alt="list-icon" class="advantage__img">
                    <span class="advantage__number">01</span>
                    <h3 class="advantage__subtitle">АРЕНДА</h3>
                </div>
                <div class="advantage__content-item">
                    <p>Аренда в Москве. Стоимость в сервисе Join24 фиксирована. При этом нет скрытых платежей и комиссий.<br>Цена может варьироваться в зависимости от срока. Списанием ГСМ по путевому листу занимается собственник. Вам не нужно задумываться об улучшениях, профилактике поломок, ремонте.
                    </p>
                            
                </div>
            </div>
            <div class="advantage__content">
                <div class="advantage__wrap-img">
                    <img src="./img/pay.png" alt="clock" class="advantage__img">
                    <span class="advantage__number">02</span>
                    <h3 class="advantage__subtitle">ПОКУПКА</h3>
                </div>
                <div class="advantage__content-item">
                    <ul class="advantage__lists">Приобретение в собственность. Помимо расходов на ремонт и техобслуживание, владельцы транспортных средств (ТС) несут скрытые расходы:
                        <li class="advantage__list">транспортный налог;</li>
                        <li class="advantage__list">страхование по КАСКО или ОСАГО;</li>
                        <li class="advantage__list">установка противоугонной сигнализации или радиомаяков;</li>
                        <li class="advantage__list">вызов эвакуатора в случае возникновения нештатной ситуации;</li>
                        <li class="advantage__list">амортизация отдельных элементов и агрегата в целом;</li>
                        <li class="advantage__list">простой ТС.</li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>
