<section class="apps">
    <div class="wrapper">
        <p class="apps__discription">Только на первый взгляд, кажется, что если ТС простаивает, то никаких расходов нет. В сегодняшних реалиях даже один день, проведенный в ангаре или на парковке – это убытки. Только при непрерывной работе спецтехника может окупить свою стоимость и дополнительные расходы. А если такого объема заказов нет?</p>
        <div class="apps__wrap-app">
            <a href="#">
                <img src="./img/appStore.png" alt="appstore" class="apps__app">
            </a>
            <a href="#">
                <img src="./img/googlePlay.png" alt="googleplay" class="apps__app">
            </a>
        </div>
        <h3 class="apps__title">Возможности от Join24</h3>
        <p class="apps__text">Заключая договор фрахтования транспортного средства, собственник берет на себя возможные риски. С приложением Join24 они сводятся к минимуму. Для юридических лиц и ИП CRM позволит настроить работу нескольким сотрудникам, причем у каждого будет индивидуальный доступ в личный кабинет. Через мобильное приложение и панель управления в личном кабинете вы сможете легко пополнить баланса через карту или выставить счет для оплаты, планировать даты поездок, отслеживать статистику, добавлять новых сотрудников, устанавливать им личные лимиты. Прежде чем заказать услуги, вы можете ознакомиться с договором фрахтования, пользовательским соглашением, политикой конфиденциальности, лицензионным соглашением, тарифами на аренду спецтехники.</p>
    </div>
</section>
