<section class="apps apps--link">
    <div class="wrapper">
        <p class="apps__discription apps__discription--link">Чтобы взять спецтехнику в аренду, физическим лицам достаточно скачать приложение, а юридическим лицам и ИП – заполнить регистрационную карту. Регистрируйтесь и получайте доступ – и начинайте пользоваться сервисом Join24.</p>
        <div class="apps__wrap-app">
            <a href="#">
                <img src="./img/appStore.png" alt="appstore" class="apps__app">
            </a>
            <a href="#">
                <img src="./img/googlePlay.png" alt="googleplay" class="apps__app">
            </a>
        </div>
    </div>
</section>
