<footer class="footer">
    <!-- <img class="footer__bg" src="./img/bg-footer.png">     -->
    <div class="wrapper wrapper--footer">
        <div class="footer__info">
            <div class="footer__info-wrap">
                <div class="footer__img-wrap">
                    <img src="./img/location-icon.png" atl="location" class="footer__img">
                </div>
                <a class="footer__link" href="https://yandex.ua/maps/-/CCQtF8FT3D">105318, Москва г, Семеновская площадь,  дом № 7, корпус 17, помещение VII ком. 39</a>
            </div>
            <div class="footer__info-wrap">
                <div class="footer__img-wrap">
                    <img src="./img/phone-icon.png" alt="telephone" class="footer__img">
                </div>
                <a class="footer__link footer__link--small" href="tel:8(800)5559329">8(800)555-93-29</a>
            </div>
            <div class="footer__info-wrap">
                <div class="footer__img-wrap">
                    <img src="./img/email-icon.png" atl="email" class="footer__img">
                </div>
                <a class="footer__link footer__link--small" href="mailto:support@join24.ru">support@join24.ru</a>
            </div>
        </div>
        <p class="footer__title">Общество с ограниченной ответственностью "ДЖОЙН"</p>
    </div>
</footer>
