<section class="header">
<nav class="nav">
    <div class="wrapper wrapper--nav">
        <a href="#" class="nav__logo-wrap">
            <img src="./img/logo2.png" alt="Join" class="nav__logo"/>
        </a>
        <div class="nav__links">
                <a href="#" target="_blank"class="nav__link">
                    Услуги
                </a>
                <a href="#" target="_blank"class="nav__link">
                    Заказчикам
                </a>
                <a href="#" target="_blank"class="nav__link">
                    Перевозчикам
                </a>
                <a href="#" target="_blank"class="nav__link">
                    Документы
                </a>
                <a href="#" target="_blank"class="nav__link">
                    Контакты
                </a>
                <div class="nav__reg">
                    <span id="registration" class="nav__link nav__link--reg">
                            Регистрация
                    </span>
                    <div class="nav__popup" id="submenu">
                        <a href="#" class="nav__popup-link">Я заказчик</a>
                        <a href="#" class="nav__popup-link">Я перевозчик</a>
                        <a href="#" class="nav__popup-link">Я физ лицо</a>
                    </div>
                </div>
        </div>
        <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>   
        </div>
        <div class="burger-wrap">
            <ul class="burger-wrap__links">
                <li><a class="nav__link" href="#">Услуги</a></li>
                <li><a class="nav__link" href="#">Заказчикам</a></li>
                <li><a class="nav__link" href="#">Перевозчикам</a></li>
                <li><a class="nav__link" href="#">Документы</a></li>
                <li><a class="nav__link" href="#footer">Контакты</a></li>
                <li style="margin-top: 20px;"><span class="nav__link burger-wrap__submenu" >Регистрация</span>
                    <ul class="burger-wrap__submenu-links">
                        <li><a class="nav__link" href="#">Я заказчик</a></li>
                        <li><a class="nav__link" href="#">Я перевозчик</a></li>
                        <li><a class="nav__link" href="#">Я физ лицо</a></li>
                    </ul>
            </ul>
        </div>
        
    </div>    
</nav>
<div class="header__content">
    <div class="header__img-wrap">
        <img class="header__img" src="./img/header_bg.png" alt="picture"/>
    </div>
</div>
</section>
