<section class="howWork" id="howItsWork">
    <div class="wrapper">
        <div class="howWork__items">
            <a href="#" class="howWork__item">
                <div class="border">
                    <div class="howWork__img-wrap">
                        <img src="./img/tractor.png" alt="tractor" class="howWork__icon">
                    </div>
                </div>
                <p class="howWork__icon-title">Аренда<br> спецтехники</p>
            </a>
            <a href="../cargo/index.html" class="howWork__item">
                <div class="border">
                    <div class="howWork__img-wrap">
                        <img src="./img/car.png" alt="bus" class="howWork__icon">
                    </div>
                </div>
                <p class="howWork__icon-title">Аренда<br>грузового транспорта</p>
            </a>
            <a href="../bus/index.html" class="howWork__item">
                <div class="border">
                    <div class="howWork__img-wrap">
                        <img src="./img/bus.png" alt="picup" class="howWork__icon">
                    </div>
                </div>    
                <p class="howWork__icon-title">Аренда<br>  автобусов</p>
            </a>
            <a href="../car/index.html" class="howWork__item">
                <div class="border">
                    <div class="howWork__img-wrap">
                        <img src="./img/car2.png" alt="car" class="howWork__icon">
                    </div>
                </div>    
                <p class="howWork__icon-title">Аренда<br>  легкового транспорта</p>
            </a>
        </div>
    </div>
</section>
