<section class="chance">
    <div class="wrapper">
        <h2 class="chance__title">Выбирайте новые возможности</h2>
        <div class="chance__content">
            <div class="chance__items">
                <p class="chance__text">Агрегатор Join24 удобен для всех категорий пользователей: перевозчиков, сдающих свою спецтехнику, юридических лиц и ИП, ищущих недорогую аренду самосвала, экскаватора или автокрана в Москве, и физических лиц, заказывающих услуги транспортной компании.</p>
                <p class="chance__text">Каждый день в приложении регистрируются новые пользователи, и поэтому можете быть уверенны, что всего за один день найдете необходимую технику определенной марки и техническим характеристикам. Выбирайте новые возможности – неплохо сэкономить или хорошо зарабатывать.</p>
            </div>
            <div class="chance__img-wrap">
                <img src="./img/3technica.png" alt="car" class="chance__img">
            </div>
        </div>
    </div>
</section>
