<section class="possibility">
        <img class="possibility__bg" src="./img/bg_possibility.png" alt="workers">
        <div class="possibility__content">
            <h3 class="possibility__title">Возможности для водителя<br>
            вашей компании</h3>
            <p class="possibility__text">Не только руководитель компании может управлять процессами через личный кабинет. Отдельный доступ можно настроить для водителя. Какие возможности он получает?
            </p>
           <ul class="possibility__list">
               <li class="possibility__item"><span class="possibility__number">01</span>Доступ в мобильное приложение.</li>
               <li class="possibility__item"><span class="possibility__number">02</span>Закрепление одного или нескольких<br>видов ТС.</li>
               <li class="possibility__item"><span class="possibility__number">03</span>Принимать заказ.</li>
               <li class="possibility__item"><span class="possibility__number">04</span>Просматривать детали заказа.</li>
               <li class="possibility__item"><span class="possibility__number">05</span>Закрывать заказ после выполнения.</li>
               <li class="possibility__item"><span class="possibility__number">06</span>Просматривать календарь с<br>предстоящими заказами.</li>
           </ul>
        </div>
</section>   
