<section class="preview">
    <div class="wrapper">
        <h3 class="preview__title">Возможности от Join24</h3>
        <p class="preview__description">Через агрегатор Join24 вы можете арендовать спецтехнику:</p>
        <div class="preview__items">
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Экскаваторы гусеничные</h5>
                    <p class="preview__text">Экскаватор гусеничный используют при различных земляных и дорожных работах, добыче полезных ископаемых, демонтаж и сносе, погрузке/разгрузке сыпучих стройматериалов, корчевании пней. При необходимости к нему монтируют вибропогружатель. Спецтехника незаменима при работе в болотистой местности и на неровном рельефе. </p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/эксковатор.jpg" alt="эксковатор" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Автокраны</h5>
                    <p class="preview__text">Аренда автокрана – востребованная услуга при возведении многоэтажных зданий, монтаже металлоконструкций, для перемещения штучных грузов, а также разгрузке и погрузке. Автомобильные краны могут дополняться канатной подвеской с электрическим, механическим и гидравлическим приводом.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Автокраны.jpg" alt="Автокраны" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Манипуляторы</h5>
                    <p class="preview__text">Манипулятор сочетает в себе характеристики бортовой машины и подъемного крана. Аренда манипулятора пригодится при перевозке габаритных грузов (бытовки, контейнеры и т. п.) и стройматериалов, прокладке труб, установке рекламных щитов, монтаже павильонов и киосков, размещении вдоль трассы бетонных блоков.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Манипуляторы.jpg" alt="Манипуляторы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Автовышки</h5>
                    <p class="preview__text">Автовышки бывают телескопическими, коленчатыми и комбинированными. С их помощью выполняют работы на высоте. Например, аренда автовышки пригодится при спиле деревьев, ремонте и отделке фасадов, монтаже баннеров и рекламных щитов, ремонте и обслуживании уличных фонарей, телеграфных линий, линий электропередач.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Автовышки.jpg" alt="Автовышки" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Автоцистерны</h5>
                    <p class="preview__text">Автоцистерны – это грузовые автомобили с резервуаром для перевозки наливных (нефтепродукты, битум, вода, молоко и др.), либо насыпных (комбикорм, зерно, мука) грузов. Делятся на промышленные и пищевые. Аренда автоцистерны даст вам возможность выбрать модель исходя из специфики и объема груза.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Автоцистерны.jpg" alt="Автоцистерны" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Бетоновозы</h5>
                    <p class="preview__text">Автобетоносмесители предназначены для приготовления бетонной смеси и ее транспортировки. Аренда бетоновоза позволяет перевозить и сухую смесь: вода из бака в барабан подается незадолго до прибытия на объект.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/бетоновозы.jpg" alt="бетоновозы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Ассенизаторы</h5>
                    <p class="preview__text">Аренда ассенизатора рассчитана на тех, кто занимается откачкой канализаций, выгребных ям и сточных вод.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Ассенизаторы.jpg" alt="Ассенизаторы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Бензовозы</h5>
                    <p class="preview__text">Бензовоз представляет собой грузовой автомобиль, оборудованный специальной цистерной. С его помощью перевозят светлые нефтепродукты: дизельное топливо и бензин. Аренда бензовоза позволяет выбрать машину с емкостью подходящего объема. Модели различаются способом размещения цистерны и ее соединением с авто.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Бензовозы.png" alt="бетоновозы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Бетононасосы</h5>
                    <p class="preview__text">Бетононасос применяют для транспортировки готовой смеси и дальнейшей подачи раствора на любой участок строительной площадки. Подача осуществляется в горизонтальном и вертикальном (на высоту) направлениях. Аренда бетононасоса существенно ускоряет процесс строительства.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Бетононасосы.jpg" alt="Бетононасосы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Бортовые грузовики</h5>
                    <p class="preview__text">Аренда бортового грузовика всегда востребована в сфере грузоперевозок. На них перевозят стройматериалы, продукты питания, габаритные предметы, животных, бытовую технику, растения и многое другое. Дополнительно можно использовать прицеп.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Бортовые-грузовики.jpg" alt="Бортовые-грузовики" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Бульдозеры</h5>
                    <p class="preview__text">Бульдозер представляет собой гусеничный трактор, оборудованный прямым, сферическим, либо полусферическим отвалом. Аренда бульдозера пригодится при создании насыпей, строительстве дорог, подготовке площадки к строительству, разработке карьеров, работах по очистке территории от мусора, либо снега.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Бульдозеры.jpg" alt="Бульдозеры" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Вилочные погрузчики</h5>
                    <p class="preview__text">Вилочный мини-погрузчик предназначен для погрузочно-разгрузочных работ. Это мобильная, маневренная спецтехника с отличной проходимостью. Аренда вилочного погрузчика позволит за несколько часов справиться с большим объемом работы.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Вилочные-погрузчики.jpg" alt="Вилочные-погрузчики" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Гидромолоты</h5>
                    <p class="preview__text">Гидромолоты применяют при сносе различных строений, ограждений, фундаментов, опор мостов, демонтаже дорожного покрытия, вскрытии подземных коммуникаций. Предусмотрена аренда гидромолота как в качестве самостоятельной единицы спецтехники, так и на базе гидравлических экскаваторов, либо гидрофицированных машин.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Гидромолоты.jpg" alt="Гидромолоты" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Грейдеры</h5>
                    <p class="preview__text">Аренда грейдера востребована на начальных этапах ряда земляных и дорожно-строительных работ: планировки отсыпки насыпи, обустройстве уклонов под дорогу, демонтаже старого покрытия. Зимой с их помощью убирают снег.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Грейдеры.jpg" alt="Грейдеры" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Грейферы</h5>
                    <p class="preview__text">Грейферы используют для рытья котлованов под бульдозеры. Аренда грейфера пригодится и при погрузке сыпучих стройматериалов.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Грейферы.jpg" alt="Грейферы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Длинномеры</h5>
                    <p class="preview__text">Аренда длинномера эффективно решает вопрос с перевозкой негабаритных грузов, включая грузы большой массы. Кроме того, за счет большой грузоподъемности спецтехника позволяет сократить кол-во рейсов.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Длинномеры.png" alt="Длинномеры" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Катки</h5>
                    <p class="preview__text">Аренда катка пригодится при дорожных работах: для уплотнения грунтовых и асфальтовых покрытий. По принципу действия они делятся на вибрационные и статические.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Катки.jpg" alt="Катки" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Мини-погрузчики</h5>
                    <p class="preview__text">Аренда мини-погрузчика востребована при проведении ряда дорожных, строительных и земляных работ, при погрузке небольших объемов сыпучих материалов в бортовой, либо самосвальный кузов. Также их помощью перемещают грузы, убирают снег и мусор.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Мини-погрузчики.png" alt="Мини-погрузчики" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Мини-экскаваторы</h5>
                    <p class="preview__text">Аренда мини-экскаватора – удобная альтернатива обычной модели при работах на небольшом строительном участке, поскольку компактные размеры обеспечивают спецтехнике мобильность. Есть модификации с отвалом, либо без.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Мини-экскаваторы.jpg" alt="Мини-экскаваторы." class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Мусоровозы и бункеровозы</h5>
                    <p class="preview__text">Аренда мусоровоза пользуется спросом при строительных работах, обслуживании ЖКХ, а также в случаях разового вывоза мусора. Аренда бункеровоза рассчитана на вывоз больших объемов строительного мусора на утилизацию.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Мусоровозы.png" alt="Мусоровозы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Тралы низкорамные</h5>
                    <p class="preview__text">Тралы предназначены для перевозки спецтехники, длинномерных и негабаритных грузов, высокотоннажного оборудования. Аренда трала низкорамного позволит выбрать модель с необходимыми теххарактеристиками.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/трал.png" alt="трал" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Поливочные машины</h5>
                    <p class="preview__text">В жаркое время года аренда поливочной машины позволит очистить городские улицы, дороги и фасады зданий от пыли, обеспечить полив зеленым насаждениям. Зимой автотехника используется для посыпания автодорог песком и реагентами.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Поливочные-машины.jpg" alt="Поливочные-машины" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Самосвалы, тонары</h5>
                    <p class="preview__text">Такая спецтехника применяется для перевозки сыпучих стройматериалов, грунта, вывоза строительного мусора, снега.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Самосвалы.jpg" alt="Самосвалы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Тракторы колесные</h5>
                    <p class="preview__text">Тракторы относятся к универсальной спецтехнике. Они используются в сельском хозяйстве, строительстве, дорожных работах, для перевозки грузов, планирования территории. Аренда трактора может включать установку дополнительного оборудования. В этом случае он будет выполнять функции экскаватора, погрузчика, гидромолота, поливальной машины и др.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Тракторы-колесные.jpg" alt="Тракторы-колесные" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Фронтальные погрузчики</h5>
                    <p class="preview__text">Аренда фронтального погрузчика позволяет быстро грузить, выгружать и перевозить большие объемы груза. Спецтехника отличается мобильностью, высокой проходимостью и устойчивостью. Предусмотрена установка стрелы с крюком, паллетных вил, захватов для бревен и другого навесного оборудования.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Фронтальные-погрузчики.jpg" alt="Фронтальные-погрузчики" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Эвакуаторы</h5>
                    <p class="preview__text">Аренда эвакуатора пригодится в случаях, когда требуется перевезти автомобиль к месту эвакуации, либо ремонта. Есть модели для транспортировки легковых и грузовых авто.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Эвакуаторы.jpg" alt="Эвакуаторы" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Экскаваторы погрузчики</h5>
                    <p class="preview__text">Экскаваторы погрузчики – мощная, маневренная, компактная и высокопроизводительная спецтехника. Это делает их востребованными в строительстве и ремонте, в сфере демонтажа строений и дорожных покрытий, при сносе здания. Аренда экскаватора погрузчика может включать оснащение спецтехники навесным оборудованием (например, гидравлическим отбойным молотом).</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/Экскаваторы-погрузчики.png" alt="Экскаваторы-погрузчики" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Ямобуры, буры</h5>
                    <p class="preview__text">Ямобуры и буры используют для бурения скважин без применения бурильных установок, что дает возможность делать их даже в труднодоступных местах. Аренда ямобура или бура пригодится при обустройстве фундамента на сваях, монтаже вертикальных конструкций, ограждений, подготовке ям под саженцы деревьев, геологических работах.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/ямобуры.png" alt="ямобуры" class="preview__img">
                </div>
            </div>
        </div>
    </div>
</section>
