<section class="rent">
    <div class="wrapper">
        <h4 class="rent__title">Преимущества аренды спецтехники в Москве</h4>
        <div class="rent__content">
            <div class="rent__item">
                <div class="rent__icon">
                    <img class="rent__img" src="./img/calendar.png" alt="deal">
                </div>
                <div class="rent__item-title">Выполняйте задачи вовремя</div>
                <div class="rent__text">Сложно представить современную жизнь без спецтехники. 
                    Возведение домов и коттеджей, дорог и мостов, разработка горных пород, проведение монтажных и высотных мероприятий – это только малая часть работ, на которых она задействована. 
                    С помощью бульдозеров выравнивают грунт и формируют уклоны будущих трасс, погрузчиков – роют траншеи, автокранов – поднимают многотонные бетонные плиты.</div>
            </div>
            <div class="rent__item">
                <div class="rent__icon">
                    <img class="rent__img" src="./img/tractor.png" alt="deal">
                </div>
                <div class="rent__item-title">Большой выбор
                    техники</div>
                <div class="rent__text">В агрегаторе Join24 представлены грейферы, мусоровозы, поливочное оборудование в аренду. В приложении в онлайн-режиме вы можете выбрать любой вид спецтехники и заказать его на нужную дату, в заказе вы можете выбрать один вид техники или несколько, так же выбрать и необходимое количество. Поэтому вы легко и быстро сможете решить текущие задачи: доставить негабаритный или сыпучий груз по месту назначения, вывезти мусор, пробурить скважину.</div>
            </div>
            <div class="rent__item">
                <div class="rent__icon">
                    <img class="rent__img" src="./img/pay2.png" alt="deal">
                </div>
                <div class="rent__item-title">Никаких лишних
                    затратжно</div>
                <div class="rent__text">Сдать или взять спецтехнику в аренду в Москве или в другом регионе можно на любой срок: от одного дня или смены до нескольких месяцев, в зависимости от типа выполняемых задач. В течение срока действия договора вам не придется беспокоиться о техническом обслуживании, а в случае поломки будет произведен ремонт или замена. Предусмотрена гибкая система оплаты, которая позволит комфортно работать. Выполняйте задачи вовремя, а об остальном позаботится Join24.</div>
            </div>
        </div>
    </div>
</section>
