<section class="service">
    <div class="wrapper">
        <h2 class="service__title">7 причин заказывать аренду через Join24</h2>
        <div class="service__items">
            <span class="service__item"><span class="service__number">01</span>
            <span class="service__icon-wrap"><img class="service__icon" src="./img/calendar1.png" alt="calendar"></span>
            Предоставление спецтехники в день запроса или на следующий день. Благодаря большой базе пользователей нет проблем найти то, что нужно именно вам.</span>
            <span class="service__item"><span class="service__number">02</span><span class="service__icon-wrap"><img class="service__icon" src="./img/support.png" alt="support"></span>Круглосуточная поддержка, которая поможет всем сторонам решить текущие проблемы пользования сервисом.</span>
            <span class="service__item"><span class="service__number">03</span><span class="service__icon-wrap"><img class="service__icon" src="./img/paper.png" alt="paper"></span>Все документы находятся в открытом доступе: пользовательское и лицензионное соглашение, договор фрахтования, тарифы на аренду в Москве или другом регионе.</span>
            <span class="service__item"><span class="service__number">04</span><span class="service__icon-wrap"><img class="service__icon" src="./img/money(1).png" alt="money"></span>Цена договора фиксирована не меняется в течение срока действия.</span>
            <span class="service__item"><span class="service__number">05</span><span class="service__icon-wrap"><img class="service__icon" src="./img/order.png" alt="order"></span>Возможность выбрать технику любого типа назначения и характеристик.</span>
            <span class="service__item"><span class="service__number">06</span><span class="service__icon-wrap"><img class="service__icon" src="./img/like.png" alt="like"></span>Спецтехника полностью укомплектована в соответствии с техническими, пожарными, санитарными и другими требованиями.</span>
            <span class="service__item"><span class="service__number">07</span><span class="service__icon-wrap"><img class="service__icon" src="./img/oil.png" alt="oil"></span>Всегда в наличии полный бак топлива.</span>
        </div>
    </div>
</section>
