<section class="wont-rent">
    <div class="wrapper">
        <div class="wont-rent__content">
            <h2 class="wont-rent__title">Если вы хотите сдать<br>спецтехнику в аренду</h2>
            <div class="wont-rent__line"></div>
               <p class="wont-rent__item">ОЕсли вы являетесь владельцем погрузчика, самосвала, бура, тонара и другой спецтехники, сервис Join24 лучший выбор для вас:</p>
               <p class="wont-rent__item">
                Заполните Анкету регистрации и получите на @mail логин и пароль.  Сервис вносит вашу компанию в CRM как транспортную компанию. Данный способ подходит Юридическим лицам и ИП, которые хотят заниматься сдачей в аренду своего парка спецтехники и автотехники.</p>
               <p class="wont-rent__item">Внесите в панели водителей и свой парк техники, закрепите водителей за техникой. Предложите водителям скачать мобильное приложение водителя сервиса Join24 и выдайте им пароль для входа.</p>
               <p class="wont-rent__item">
                Получайте и выполняйте заказы! После того, как заказ будет выполнен, через 7 дней деньги за минусом комиссии сервиса Join24 поступят к вам на расчетный счет.</p>
        </div>
    </div>
</section>   
